RewriteEngine on

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

<IfModule mod_rewrite.c>
RewriteRule ^([a-zA-Z0-9_-]+)([/]?)$ loja.php?nickname=$1
RewriteRule ^([a-zA-Z0-9_-]+)/([a-zA-z_]+)([/]?)$ loja.php?nickname=$1&template=$2
</IfModule>